<%- include('../partials/header') %>

<% categories.forEach(c => { %>
    <h1><%= c.name %></h1>
    <form action="/exercises/<%= c._id %>/category?_method=DELETE" method="POST">
        <button type="submit">X</button>
    </form>
    <% exercises.forEach(e => { %>
        <% if (c.exercise.includes(e._id)) { %>
            <a href="/exercises/<%= e._id %>"><%= e.name %></a>
            <form action="/exercises/<%= e._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form>
        <% } %>
    <% }) %>
<% }) %>

<br><br><br>
<button>
    <a href="/exercises/new">New Exercise</a>
</button>

<%- include('../partials/footer') %>