<%- include('../partials/header') %>

<% categories.forEach(c => { %>
    <h1><%= c.name %></h1>
    <% exercises.forEach(e => { %>
        <% if (user.exercise.includes(e._id) && c.exercise.includes(e._id)) { %>
            <a href="/exercises/<%= e._id %>"><%= e.name %></a>
        <% } %>
    <% }) %>
<% }) %>
<br><br><br><a href="/exercises/new">Add Exercise</a>

<%- include('../partials/footer') %>