<%- include('../partials/header') %>

<div><%= exercise.exType %></div>
<div><%= exercise.weightUnit %></div>
<div><%= exercise.distanceUnit %></div>
<div><%= exercise.description %></div>

<%- include('../partials/footer') %>