<%- include('../partials/header') %>

<div><%= exercise.exType %></div>
<% if (exercise.exType.includes('Weight')) { %>
    <div><%= exercise.weightUnit %></div>
<% } %>
<% if (exercise.exType.includes('Distance')) { %>
    <div><%= exercise.distanceUnit %></div>
<% } %>
<div><%= exercise.description %></div>
<button>
    <a href="/exercises/<%= id %>/edit">Edit Exercise</a>
</button>

<%- include('../partials/footer') %>