<%- include('../partials/header') %>

<% categories.forEach(c => { %>
    <h1><%= c.name %></h1>
    <% exercises.forEach(e => { %>
        <% if (c.exercise.includes(e._id)) { %>
            <a href="/analysis/<%= e._id %>"><%= e.name %></a>
        <% } %>
    <% }) %>
<% }) %>

<%- include('../partials/footer') %>