<%- include('../partials/header') %>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%- JSON.stringify(workoutDates) %>,
        datasets: [{
        label: 'Max Weight',
        data: <%- JSON.stringify(workoutMaxWeights) %>,
        borderWidth: 1
        }]
    },
    options: {
        scales: {
        xAxes: [{
            type: 'time',
            time: {
                parser: 'MM/DD/YYYY'
            }
        }],
        y: {
            beginAtZero: true,
            suggestedMax: <%- JSON.stringify(yMax) %>,
            title: {
                display: true,
                text: 'Weight'
            }
        }
        }
    }
    });
</script>

<%- include('../partials/footer') %>